/* Global */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9; /* Soft light background */
    color: #34495E; /* Darker shade for text */
}

header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #FF6F61; /* Coral color */
    color: white;
    border-bottom: 3px solid #F39C12; /* Bright orange */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 60px;
    height: auto;
    margin-right: 12px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #1ABC9C; /* Teal for links */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #16A085; /* Darker teal on hover */
    text-decoration: underline;
}

main {
    padding: 30px;
}

h2 {
    color: #E67E22; /* Bright orange */
    font-size: 28px;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    background-color: #FFDCE2; /* Light pink */
}

table, th, td {
    border: 1px solid #FF6F61; /* Coral */
    padding: 12px;
}

caption {
    margin: 12px;
    font-weight: bold;
    color: #FF6F61; /* Coral for caption */
}

th {
    background-color: #FF6F61; /* Coral */
    color: white;
    text-transform: uppercase;
}

th, td {
    text-align: left;
}

.thick-border {
    border: 4px solid #FF6F61; /* Coral for thick border */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #6FA4D8; /* Light blue */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

/* Media Query untuk tampilan mobile */
@media (max-width: 768px) {
    header, nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .logo {
        max-width: 50px;
    }
}
